@font-face {
  font-family: 'amstar';
  src:  url('fonts/amstar.eot?6rsltn');
  src:  url('fonts/amstar.eot?6rsltn#iefix') format('embedded-opentype'),
    url('fonts/amstar.ttf?6rsltn') format('truetype'),
    url('fonts/amstar.woff?6rsltn') format('woff'),
    url('fonts/amstar.svg?6rsltn#amstar') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'amstar' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info3:before {
  content: "\eceb";
}
.icon-top:before {
  content: "\eaf1";
}
.icon-airplane:before {
  content: "\ea9f";
}
.icon-alarm-clock2:before {
  content: "\eaa0";
}
.icon-backpack3:before {
  content: "\eaa1";
}
.icon-bed2:before {
  content: "\eaa2";
}
.icon-bicycle:before {
  content: "\eaa3";
}
.icon-birthday:before {
  content: "\eaa4";
}
.icon-book:before {
  content: "\eaa5";
}
.icon-breakfast:before {
  content: "\eaa6";
}
.icon-bus2:before {
  content: "\eaa7";
}
.icon-camping:before {
  content: "\eaa8";
}
.icon-computer:before {
  content: "\eaa9";
}
.icon-dinner:before {
  content: "\eaaa";
}
.icon-holiday:before {
  content: "\eaab";
}
.icon-ice-cream:before {
  content: "\eaac";
}
.icon-improvement:before {
  content: "\eaec";
}
.icon-juice:before {
  content: "\eaad";
}
.icon-list2:before {
  content: "\eaed";
}
.icon-scooter:before {
  content: "\eaae";
}
.icon-shower:before {
  content: "\eaaf";
}
.icon-suitcase2:before {
  content: "\eab0";
}
.icon-wallet:before {
  content: "\eaf0";
}
.icon-water:before {
  content: "\eab1";
}
.icon-repeat2:before {
  content: "\eaef";
}
.icon-hotel:before {
  content: "\eaee";
}
.icon-arch:before {
  content: "\eab2";
}
.icon-backpack2:before {
  content: "\eab3";
}
.icon-ball-1:before {
  content: "\eab4";
}
.icon-ball:before {
  content: "\eab5";
}
.icon-balloon:before {
  content: "\eab6";
}
.icon-binoculars3:before {
  content: "\eab7";
}
.icon-bus:before {
  content: "\eab8";
}
.icon-calendar2:before {
  content: "\eab9";
}
.icon-camera:before {
  content: "\eaba";
}
.icon-cocktail-1:before {
  content: "\eabb";
}
.icon-cocktail:before {
  content: "\eabc";
}
.icon-compass2:before {
  content: "\eabd";
}
.icon-forest:before {
  content: "\eabe";
}
.icon-globe-1:before {
  content: "\eabf";
}
.icon-globe-2:before {
  content: "\eac0";
}
.icon-globe:before {
  content: "\eac1";
}
.icon-landmark:before {
  content: "\eac2";
}
.icon-lifebuoy:before {
  content: "\eac3";
}
.icon-location:before {
  content: "\eac4";
}
.icon-map12:before {
  content: "\eac5";
}
.icon-map2:before {
  content: "\eac6";
}
.icon-minivan:before {
  content: "\eac7";
}
.icon-notebook6:before {
  content: "\eac8";
}
.icon-oxygen:before {
  content: "\eac9";
}
.icon-passport-1:before {
  content: "\eaca";
}
.icon-passport:before {
  content: "\eacb";
}
.icon-phone-1:before {
  content: "\eacc";
}
.icon-phone:before {
  content: "\eacd";
}
.icon-photography:before {
  content: "\eace";
}
.icon-plane:before {
  content: "\eacf";
}
.icon-pointer:before {
  content: "\ead0";
}
.icon-postage:before {
  content: "\ead1";
}
.icon-purse:before {
  content: "\ead2";
}
.icon-railway:before {
  content: "\ead3";
}
.icon-search2:before {
  content: "\ead4";
}
.icon-ship:before {
  content: "\ead5";
}
.icon-shirt:before {
  content: "\ead6";
}
.icon-stamp:before {
  content: "\ead7";
}
.icon-star2:before {
  content: "\ead8";
}
.icon-suitcase-open:before {
  content: "\ead9";
}
.icon-suitcase:before {
  content: "\eada";
}
.icon-suitcases:before {
  content: "\eadb";
}
.icon-sunglasses:before {
  content: "\eadc";
}
.icon-sunset:before {
  content: "\eadd";
}
.icon-surfing:before {
  content: "\eade";
}
.icon-tent:before {
  content: "\eadf";
}
.icon-tickets:before {
  content: "\eae0";
}
.icon-time2:before {
  content: "\eae1";
}
.icon-trailer:before {
  content: "\eae2";
}
.icon-travel:before {
  content: "\eae3";
}
.icon-bed:before {
  content: "\eae4";
}
.icon-beer:before {
  content: "\eae5";
}
.icon-big-bottle-of-water:before {
  content: "\eae6";
}
.icon-diamond3:before {
  content: "\eae7";
}
.icon-handshake:before {
  content: "\eae8";
}
.icon-hospital:before {
  content: "\eae9";
}
.icon-truck:before {
  content: "\eaea";
}
.icon-van:before {
  content: "\eaeb";
}
.icon-diamond2:before {
  content: "\ea9c";
}
.icon-bottle-water:before {
  content: "\ea9d";
}
.icon-towel:before {
  content: "\ea9e";
}
.icon-check:before {
  content: "\ea9a";
}
.icon-checked2:before {
  content: "\ea9b";
}
.icon-up-arrow:before {
  content: "\e9ea";
}
.icon-down:before {
  content: "\e9eb";
}
.icon-customer-service:before {
  content: "\ea99";
}
.icon-movie-camera:before {
  content: "\ea94";
}
.icon-photo-full:before {
  content: "\ea95";
}
.icon-photo:before {
  content: "\ea96";
}
.icon-video1:before {
  content: "\ea97";
}
.icon-video2:before {
  content: "\ea98";
}
.icon-cancel-button .path1:before {
  content: "\ea90";
  color: rgb(226, 90, 90);
}
.icon-cancel-button .path2:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check-mark-button .path1:before {
  content: "\ea91";
  color: rgb(102, 170, 115);
}
.icon-check-mark-button .path2:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-photo-camera:before {
  content: "\ea81";
}
.icon-video-camera:before {
  content: "\ea82";
}
.icon-backpack:before {
  content: "\ea83";
}
.icon-big-wave:before {
  content: "\ea84";
}
.icon-binoculars .path1:before {
  content: "\ea85";
  color: rgb(51, 51, 51);
}
.icon-binoculars .path2:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-binoculars .path3:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-binoculars .path4:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-dolphin-jumping:before {
  content: "\ea89";
}
.icon-fishing-rod:before {
  content: "\ea8a";
}
.icon-next:before {
  content: "\ea8b";
}
.icon-back:before {
  content: "\ea8c";
}
.icon-oxygen-tank:before {
  content: "\ea8d";
}
.icon-snorkel:before {
  content: "\ea8e";
}
.icon-video-player:before {
  content: "\ea8f";
}
.icon-shopping-cart:before {
  content: "\ea80";
}
.icon-social:before {
  content: "\ea7f";
}
.icon-add-1:before {
  content: "\e900";
}
.icon-add-2:before {
  content: "\e901";
}
.icon-add-3:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-agenda:before {
  content: "\e904";
}
.icon-alarm-1:before {
  content: "\e905";
}
.icon-alarm-clock-1:before {
  content: "\e906";
}
.icon-alarm-clock:before {
  content: "\e907";
}
.icon-alarm:before {
  content: "\e908";
}
.icon-albums:before {
  content: "\e909";
}
.icon-app:before {
  content: "\e90a";
}
.icon-archive-1:before {
  content: "\e90b";
}
.icon-archive-2:before {
  content: "\e90c";
}
.icon-archive-3:before {
  content: "\e90d";
}
.icon-archive:before {
  content: "\e90e";
}
.icon-attachment:before {
  content: "\e90f";
}
.icon-back2:before {
  content: "\e910";
}
.icon-battery-1:before {
  content: "\e911";
}
.icon-battery-2:before {
  content: "\e912";
}
.icon-battery-3:before {
  content: "\e913";
}
.icon-battery-4:before {
  content: "\e914";
}
.icon-battery-5:before {
  content: "\e915";
}
.icon-battery-6:before {
  content: "\e916";
}
.icon-battery-7:before {
  content: "\e917";
}
.icon-battery-8:before {
  content: "\e918";
}
.icon-battery-9:before {
  content: "\e919";
}
.icon-battery:before {
  content: "\e91a";
}
.icon-binoculars2:before {
  content: "\e91b";
}
.icon-blueprint:before {
  content: "\e91c";
}
.icon-bluetooth-1:before {
  content: "\e91d";
}
.icon-bluetooth:before {
  content: "\e91e";
}
.icon-bookmark-1:before {
  content: "\e91f";
}
.icon-bookmark:before {
  content: "\e920";
}
.icon-briefcase:before {
  content: "\e921";
}
.icon-broken-link:before {
  content: "\e922";
}
.icon-calculator-1:before {
  content: "\e923";
}
.icon-calculator:before {
  content: "\e924";
}
.icon-calendar-check:before {
  content: "\e925";
}
.icon-calendar-line:before {
  content: "\e926";
}
.icon-calendar19:before {
  content: "\e927";
}
.icon-calendar18:before {
  content: "\e928";
}
.icon-calendar5:before {
  content: "\e929";
}
.icon-calendar-6:before {
  content: "\e92a";
}
.icon-calendardots:before {
  content: "\e92b";
}
.icon-calendar:before {
  content: "\e92c";
}
.icon-checked-1:before {
  content: "\e92d";
}
.icon-checked:before {
  content: "\e92e";
}
.icon-clock-1:before {
  content: "\e92f";
}
.icon-clock:before {
  content: "\e930";
}
.icon-close:before {
  content: "\e931";
}
.icon-cloud-computing-1:before {
  content: "\e932";
}
.icon-cloud-computing-2:before {
  content: "\e933";
}
.icon-cloud-computing-3:before {
  content: "\e934";
}
.icon-cloud-computing-4:before {
  content: "\e935";
}
.icon-cloud-computing-5:before {
  content: "\e936";
}
.icon-cloud-computing:before {
  content: "\e937";
}
.icon-cloud:before {
  content: "\e938";
}
.icon-command:before {
  content: "\e939";
}
.icon-compact-disc-1:before {
  content: "\e93a";
}
.icon-compact-disc-2:before {
  content: "\e93b";
}
.icon-compact-disc:before {
  content: "\e93c";
}
.icon-compass:before {
  content: "\e93d";
}
.icon-compose:before {
  content: "\e93e";
}
.icon-controls-1:before {
  content: "\e93f";
}
.icon-controls-2:before {
  content: "\e940";
}
.icon-controls-3:before {
  content: "\e941";
}
.icon-controls-4:before {
  content: "\e942";
}
.icon-controls-5:before {
  content: "\e943";
}
.icon-controls-6:before {
  content: "\e944";
}
.icon-controls-7:before {
  content: "\e945";
}
.icon-controls-8:before {
  content: "\e946";
}
.icon-controls-9:before {
  content: "\e947";
}
.icon-controls:before {
  content: "\e948";
}
.icon-database-1:before {
  content: "\e949";
}
.icon-database-2:before {
  content: "\e94a";
}
.icon-database-3:before {
  content: "\e94b";
}
.icon-database:before {
  content: "\e94c";
}
.icon-diamond:before {
  content: "\e94d";
}
.icon-diploma:before {
  content: "\e94e";
}
.icon-dislike-1:before {
  content: "\e94f";
}
.icon-dislike:before {
  content: "\e950";
}
.icon-divide-1:before {
  content: "\e951";
}
.icon-divide:before {
  content: "\e952";
}
.icon-division:before {
  content: "\e953";
}
.icon-document:before {
  content: "\e954";
}
.icon-download:before {
  content: "\e955";
}
.icon-edit-1:before {
  content: "\e956";
}
.icon-edit:before {
  content: "\e957";
}
.icon-eject-1:before {
  content: "\e958";
}
.icon-eject:before {
  content: "\e959";
}
.icon-equal-1:before {
  content: "\e95a";
}
.icon-equal-2:before {
  content: "\e95b";
}
.icon-equal:before {
  content: "\e95c";
}
.icon-error2:before {
  content: "\e95d";
}
.icon-exit-1:before {
  content: "\e95e";
}
.icon-exit-2:before {
  content: "\e95f";
}
.icon-exit:before {
  content: "\e960";
}
.icon-eyeglasses:before {
  content: "\e961";
}
.icon-fast-forward-1:before {
  content: "\e962";
}
.icon-fast-forward:before {
  content: "\e963";
}
.icon-fax:before {
  content: "\e964";
}
.icon-file-1:before {
  content: "\e965";
}
.icon-file-2:before {
  content: "\e966";
}
.icon-file:before {
  content: "\e967";
}
.icon-film:before {
  content: "\e968";
}
.icon-fingerprint:before {
  content: "\e969";
}
.icon-flag-1:before {
  content: "\e96a";
}
.icon-flag-2:before {
  content: "\e96b";
}
.icon-flag-3:before {
  content: "\e96c";
}
.icon-flag-4:before {
  content: "\e96d";
}
.icon-flag:before {
  content: "\e96e";
}
.icon-focus:before {
  content: "\e96f";
}
.icon-folder-1:before {
  content: "\e970";
}
.icon-folder-2:before {
  content: "\e971";
}
.icon-folder-3:before {
  content: "\e972";
}
.icon-folder-4:before {
  content: "\e973";
}
.icon-folder-5:before {
  content: "\e974";
}
.icon-folder-6:before {
  content: "\e975";
}
.icon-folder-7:before {
  content: "\e976";
}
.icon-folder-8:before {
  content: "\e977";
}
.icon-folder-9:before {
  content: "\e978";
}
.icon-folder-10:before {
  content: "\e979";
}
.icon-folder-11:before {
  content: "\e97a";
}
.icon-folder-12:before {
  content: "\e97b";
}
.icon-folder-13:before {
  content: "\e97c";
}
.icon-folder-14:before {
  content: "\e97d";
}
.icon-folder-15:before {
  content: "\e97e";
}
.icon-folder-16:before {
  content: "\e97f";
}
.icon-folder-17:before {
  content: "\e980";
}
.icon-folder-18:before {
  content: "\e981";
}
.icon-folder-19:before {
  content: "\e982";
}
.icon-folder:before {
  content: "\e983";
}
.icon-forbidden:before {
  content: "\e984";
}
.icon-funnel:before {
  content: "\e985";
}
.icon-garbage-1:before {
  content: "\e986";
}
.icon-garbage-2:before {
  content: "\e987";
}
.icon-garbage:before {
  content: "\e988";
}
.icon-gift:before {
  content: "\e989";
}
.icon-help:before {
  content: "\e98a";
}
.icon-hide:before {
  content: "\e98b";
}
.icon-hold:before {
  content: "\e98c";
}
.icon-home-1:before {
  content: "\e98d";
}
.icon-home-2:before {
  content: "\e98e";
}
.icon-home:before {
  content: "\e98f";
}
.icon-hourglass-1:before {
  content: "\e990";
}
.icon-hourglass-2:before {
  content: "\e991";
}
.icon-hourglass-3:before {
  content: "\e992";
}
.icon-hourglass:before {
  content: "\e993";
}
.icon-house:before {
  content: "\e994";
}
.icon-id-card-1:before {
  content: "\e995";
}
.icon-id-card-2:before {
  content: "\e996";
}
.icon-id-card-3:before {
  content: "\e997";
}
.icon-id-card-4:before {
  content: "\e998";
}
.icon-id-card-5:before {
  content: "\e999";
}
.icon-id-card:before {
  content: "\e99a";
}
.icon-idea:before {
  content: "\e99b";
}
.icon-incoming:before {
  content: "\e99c";
}
.icon-infinity:before {
  content: "\e99d";
}
.icon-info:before {
  content: "\e99e";
}
.icon-internet:before {
  content: "\e99f";
}
.icon-key:before {
  content: "\e9a0";
}
.icon-lamp:before {
  content: "\e9a1";
}
.icon-layers-1:before {
  content: "\e9a2";
}
.icon-layers:before {
  content: "\e9a3";
}
.icon-like-1:before {
  content: "\e9a4";
}
.icon-like-2:before {
  content: "\e9a5";
}
.icon-like:before {
  content: "\e9a6";
}
.icon-link:before {
  content: "\e9a7";
}
.icon-list-1:before {
  content: "\e9a8";
}
.icon-list:before {
  content: "\e9a9";
}
.icon-lock-1:before {
  content: "\e9aa";
}
.icon-lock:before {
  content: "\e9ab";
}
.icon-locked-1:before {
  content: "\e9ac";
}
.icon-locked-2:before {
  content: "\e9ad";
}
.icon-locked-3:before {
  content: "\e9ae";
}
.icon-locked-4:before {
  content: "\e9af";
}
.icon-locked-5:before {
  content: "\e9b0";
}
.icon-locked-6:before {
  content: "\e9b1";
}
.icon-locked:before {
  content: "\e9b2";
}
.icon-login:before {
  content: "\e9b3";
}
.icon-magic-wand:before {
  content: "\e9b4";
}
.icon-magnet-1:before {
  content: "\e9b5";
}
.icon-magnet-2:before {
  content: "\e9b6";
}
.icon-magnet:before {
  content: "\e9b7";
}
.icon-map-1:before {
  content: "\e9b8";
}
.icon-map-2:before {
  content: "\e9b9";
}
.icon-map-location:before {
  content: "\e9ba";
}
.icon-map:before {
  content: "\e9bb";
}
.icon-megaphone-1:before {
  content: "\e9bc";
}
.icon-megaphone:before {
  content: "\e9bd";
}
.icon-menu-1:before {
  content: "\e9be";
}
.icon-menu-2:before {
  content: "\e9bf";
}
.icon-menu-3:before {
  content: "\e9c0";
}
.icon-menu-4:before {
  content: "\e9c1";
}
.icon-menu:before {
  content: "\e9c2";
}
.icon-microphone-1:before {
  content: "\e9c3";
}
.icon-microphone:before {
  content: "\e9c4";
}
.icon-minus-1:before {
  content: "\e9c5";
}
.icon-minus:before {
  content: "\e9c6";
}
.icon-more-1:before {
  content: "\e9c7";
}
.icon-more-2:before {
  content: "\e9c8";
}
.icon-more:before {
  content: "\e9c9";
}
.icon-multiply-1:before {
  content: "\e9ca";
}
.icon-multiply:before {
  content: "\e9cb";
}
.icon-music-player1:before {
  content: "\e9cc";
}
.icon-music-player2:before {
  content: "\e9cd";
}
.icon-music-player3:before {
  content: "\e9ce";
}
.icon-music-player:before {
  content: "\e9cf";
}
.icon-mute:before {
  content: "\e9d0";
}
.icon-muted:before {
  content: "\e9d1";
}
.icon-navigation-1:before {
  content: "\e9d2";
}
.icon-navigation:before {
  content: "\e9d3";
}
.icon-network:before {
  content: "\e9d4";
}
.icon-newspaper:before {
  content: "\e9d5";
}
.icon-next2:before {
  content: "\e9d6";
}
.icon-note:before {
  content: "\e9d7";
}
.icon-notebook1:before {
  content: "\e9d8";
}
.icon-notebook2:before {
  content: "\e9d9";
}
.icon-notebook3:before {
  content: "\e9da";
}
.icon-notebook4:before {
  content: "\e9db";
}
.icon-notebook5:before {
  content: "\e9dc";
}
.icon-notebook:before {
  content: "\e9dd";
}
.icon-notepad1:before {
  content: "\e9de";
}
.icon-notepad2:before {
  content: "\e9df";
}
.icon-notepad:before {
  content: "\e9e0";
}
.icon-notification:before {
  content: "\e9e1";
}
.icon-old-man:before {
  content: "\e9e2";
}
.icon-paper-plane-1:before {
  content: "\e9e3";
}
.icon-paper-plane:before {
  content: "\e9e4";
}
.icon-pause-1:before {
  content: "\e9e5";
}
.icon-pause:before {
  content: "\e9e6";
}
.icon-percent-1:before {
  content: "\e9e7";
}
.icon-percent:before {
  content: "\e9e8";
}
.icon-perspective:before {
  content: "\e9e9";
}
.icon-photos:before {
  content: "\e9ec";
}
.icon-picture1:before {
  content: "\e9ed";
}
.icon-picture2:before {
  content: "\e9ee";
}
.icon-picture:before {
  content: "\e9ef";
}
.icon-pin:before {
  content: "\e9f0";
}
.icon-placeholder1:before {
  content: "\e9f1";
}
.icon-placeholder2:before {
  content: "\e9f2";
}
.icon-placeholder3:before {
  content: "\e9f3";
}
.icon-placeholder:before {
  content: "\e9f4";
}
.icon-placeholders:before {
  content: "\e9f5";
}
.icon-play-button1:before {
  content: "\e9f6";
}
.icon-play-button:before {
  content: "\e9f7";
}
.icon-plus:before {
  content: "\e9f8";
}
.icon-power:before {
  content: "\e9f9";
}
.icon-pregnancy-with-hearts:before {
  content: "\e9fa";
}
.icon-previous:before {
  content: "\e9fb";
}
.icon-price-tag:before {
  content: "\e9fc";
}
.icon-print:before {
  content: "\e9fd";
}
.icon-push-pin:before {
  content: "\e9fe";
}
.icon-radar:before {
  content: "\e9ff";
}
.icon-reading:before {
  content: "\ea00";
}
.icon-record:before {
  content: "\ea01";
}
.icon-repeat-1:before {
  content: "\ea02";
}
.icon-repeat:before {
  content: "\ea03";
}
.icon-restart:before {
  content: "\ea04";
}
.icon-resume:before {
  content: "\ea05";
}
.icon-rewind-1:before {
  content: "\ea06";
}
.icon-rewind:before {
  content: "\ea07";
}
.icon-route:before {
  content: "\ea08";
}
.icon-save:before {
  content: "\ea09";
}
.icon-search-1:before {
  content: "\ea0a";
}
.icon-search:before {
  content: "\ea0b";
}
.icon-send:before {
  content: "\ea0c";
}
.icon-server-1:before {
  content: "\ea0d";
}
.icon-server-2:before {
  content: "\ea0e";
}
.icon-server-3:before {
  content: "\ea0f";
}
.icon-server:before {
  content: "\ea10";
}
.icon-settings-1:before {
  content: "\ea11";
}
.icon-settings-2:before {
  content: "\ea12";
}
.icon-settings-3:before {
  content: "\ea13";
}
.icon-settings-4:before {
  content: "\ea14";
}
.icon-settings-5:before {
  content: "\ea15";
}
.icon-settings-6:before {
  content: "\ea16";
}
.icon-settings-7:before {
  content: "\ea17";
}
.icon-settings-8:before {
  content: "\ea18";
}
.icon-settings-9:before {
  content: "\ea19";
}
.icon-settings:before {
  content: "\ea1a";
}
.icon-share-1:before {
  content: "\ea1b";
}
.icon-share-2:before {
  content: "\ea1c";
}
.icon-share:before {
  content: "\ea1d";
}
.icon-shuffle-1:before {
  content: "\ea1e";
}
.icon-shuffle:before {
  content: "\ea1f";
}
.icon-shutdown:before {
  content: "\ea20";
}
.icon-sign-1:before {
  content: "\ea21";
}
.icon-sign:before {
  content: "\ea22";
}
.icon-skip:before {
  content: "\ea23";
}
.icon-smartphone-1:before {
  content: "\ea24";
}
.icon-smartphone-2:before {
  content: "\ea25";
}
.icon-smartphone-3:before {
  content: "\ea26";
}
.icon-smartphone-4:before {
  content: "\ea27";
}
.icon-smartphone-5:before {
  content: "\ea28";
}
.icon-smartphone-6:before {
  content: "\ea29";
}
.icon-smartphone-7:before {
  content: "\ea2a";
}
.icon-smartphone-8:before {
  content: "\ea2b";
}
.icon-smartphone-9:before {
  content: "\ea2c";
}
.icon-smartphone-10:before {
  content: "\ea2d";
}
.icon-smartphone-11:before {
  content: "\ea2e";
}
.icon-smartphone:before {
  content: "\ea2f";
}
.icon-smiling-baby:before {
  content: "\ea30";
}
.icon-speaker-1:before {
  content: "\ea31";
}
.icon-speaker-2:before {
  content: "\ea32";
}
.icon-speaker-3:before {
  content: "\ea33";
}
.icon-speaker-4:before {
  content: "\ea34";
}
.icon-speaker-5:before {
  content: "\ea35";
}
.icon-speaker-6:before {
  content: "\ea36";
}
.icon-speaker-7:before {
  content: "\ea37";
}
.icon-speaker-8:before {
  content: "\ea38";
}
.icon-speaker:before {
  content: "\ea39";
}
.icon-spotlight:before {
  content: "\ea3a";
}
.icon-star-1:before {
  content: "\ea3b";
}
.icon-star:before {
  content: "\ea3c";
}
.icon-stop-1:before {
  content: "\ea3d";
}
.icon-stop:before {
  content: "\ea3e";
}
.icon-stopwatch1:before {
  content: "\ea3f";
}
.icon-watch:before {
  content: "\ea40";
}
.icon-stopwatch3:before {
  content: "\ea41";
}
.icon-watch-fast:before {
  content: "\ea42";
}
.icon-stopwatch:before {
  content: "\ea43";
}
.icon-street-1:before {
  content: "\ea44";
}
.icon-street:before {
  content: "\ea45";
}
.icon-substract-1:before {
  content: "\ea46";
}
.icon-substract:before {
  content: "\ea47";
}
.icon-success:before {
  content: "\ea48";
}
.icon-switch-1:before {
  content: "\ea49";
}
.icon-switch-2:before {
  content: "\ea4a";
}
.icon-switch-3:before {
  content: "\ea4b";
}
.icon-switch-4:before {
  content: "\ea4c";
}
.icon-switch-5:before {
  content: "\ea4d";
}
.icon-switch-6:before {
  content: "\ea4e";
}
.icon-switch-7:before {
  content: "\ea4f";
}
.icon-switch:before {
  content: "\ea50";
}
.icon-tabs-1:before {
  content: "\ea51";
}
.icon-tabs:before {
  content: "\ea52";
}
.icon-target:before {
  content: "\ea53";
}
.icon-television-1:before {
  content: "\ea54";
}
.icon-television:before {
  content: "\ea55";
}
.icon-time:before {
  content: "\ea56";
}
.icon-trash:before {
  content: "\ea57";
}
.icon-umbrella:before {
  content: "\ea58";
}
.icon-unlink:before {
  content: "\ea59";
}
.icon-unlocked-1:before {
  content: "\ea5a";
}
.icon-unlocked-2:before {
  content: "\ea5b";
}
.icon-unlocked:before {
  content: "\ea5c";
}
.icon-upload:before {
  content: "\ea5d";
}
.icon-user-1:before {
  content: "\ea5e";
}
.icon-user-2:before {
  content: "\ea5f";
}
.icon-user-3:before {
  content: "\ea60";
}
.icon-user-4:before {
  content: "\ea61";
}
.icon-user-5:before {
  content: "\ea62";
}
.icon-user-6:before {
  content: "\ea63";
}
.icon-user-7:before {
  content: "\ea64";
}
.icon-user:before {
  content: "\ea65";
}
.icon-users-1:before {
  content: "\ea66";
}
.icon-users:before {
  content: "\ea67";
}
.icon-video-camera-1:before {
  content: "\ea68";
}
.icon-video-camera2:before {
  content: "\ea69";
}
.icon-video-player-1:before {
  content: "\ea6a";
}
.icon-video-player-2:before {
  content: "\ea6b";
}
.icon-video-player2:before {
  content: "\ea6c";
}
.icon-view-1:before {
  content: "\ea6d";
}
.icon-view-2:before {
  content: "\ea6e";
}
.icon-view:before {
  content: "\ea6f";
}
.icon-volume-control-1:before {
  content: "\ea70";
}
.icon-volume-control:before {
  content: "\ea71";
}
.icon-warning:before {
  content: "\ea72";
}
.icon-wifi-1:before {
  content: "\ea73";
}
.icon-wifi:before {
  content: "\ea74";
}
.icon-windows-1:before {
  content: "\ea75";
}
.icon-windows-2:before {
  content: "\ea76";
}
.icon-windows-3:before {
  content: "\ea77";
}
.icon-windows-4:before {
  content: "\ea78";
}
.icon-windows:before {
  content: "\ea79";
}
.icon-wireless-internet:before {
  content: "\ea7a";
}
.icon-worldwide-1:before {
  content: "\ea7b";
}
.icon-worldwide:before {
  content: "\ea7c";
}
.icon-zoom-in:before {
  content: "\ea7d";
}
.icon-zoom-out:before {
  content: "\ea7e";
}
.icon-quality:before {
  content: "\ece2";
}
.icon-diploma2:before {
  content: "\ece3";
}
.icon-diploma-(1):before {
  content: "\ece4";
}
.icon-top2:before {
  content: "\eaf2";
}
.icon-airplane2:before {
  content: "\eaf3";
}
.icon-alarm-clock22:before {
  content: "\eaf4";
}
.icon-backpack32:before {
  content: "\eaf5";
}
.icon-bed22:before {
  content: "\eaf6";
}
.icon-bicycle2:before {
  content: "\eaf7";
}
.icon-birthday2:before {
  content: "\eaf8";
}
.icon-book2:before {
  content: "\eaf9";
}
.icon-breakfast2:before {
  content: "\eafa";
}
.icon-bus22:before {
  content: "\eafb";
}
.icon-camping2:before {
  content: "\eafc";
}
.icon-computer2:before {
  content: "\eafd";
}
.icon-dinner2:before {
  content: "\eafe";
}
.icon-holiday2:before {
  content: "\eaff";
}
.icon-ice-cream2:before {
  content: "\eb00";
}
.icon-improvement2:before {
  content: "\eb01";
}
.icon-juice2:before {
  content: "\eb02";
}
.icon-list22:before {
  content: "\eb03";
}
.icon-scooter2:before {
  content: "\eb04";
}
.icon-shower2:before {
  content: "\eb05";
}
.icon-suitcase22:before {
  content: "\eb06";
}
.icon-wallet2:before {
  content: "\eb07";
}
.icon-water2:before {
  content: "\eb08";
}
.icon-repeat22:before {
  content: "\eb09";
}
.icon-hotel2:before {
  content: "\eb0a";
}
.icon-arch2:before {
  content: "\eb0b";
}
.icon-backpack22:before {
  content: "\eb0c";
}
.icon-ball-12:before {
  content: "\eb0d";
}
.icon-ball2:before {
  content: "\eb0e";
}
.icon-balloon2:before {
  content: "\eb0f";
}
.icon-binoculars32:before {
  content: "\eb10";
}
.icon-bus3:before {
  content: "\eb11";
}
.icon-calendar22:before {
  content: "\eb12";
}
.icon-camera2:before {
  content: "\eb13";
}
.icon-cocktail-12:before {
  content: "\eb14";
}
.icon-cocktail2:before {
  content: "\eb15";
}
.icon-compass22:before {
  content: "\eb16";
}
.icon-forest2:before {
  content: "\eb17";
}
.icon-globe-12:before {
  content: "\eb18";
}
.icon-globe-22:before {
  content: "\eb19";
}
.icon-globe2:before {
  content: "\eb1a";
}
.icon-landmark2:before {
  content: "\eb1b";
}
.icon-lifebuoy2:before {
  content: "\eb1c";
}
.icon-location2:before {
  content: "\eb1d";
}
.icon-map122:before {
  content: "\eb1e";
}
.icon-map22:before {
  content: "\eb1f";
}
.icon-minivan2:before {
  content: "\eb20";
}
.icon-notebook62:before {
  content: "\eb21";
}
.icon-oxygen2:before {
  content: "\eb22";
}
.icon-passport-12:before {
  content: "\eb23";
}
.icon-passport2:before {
  content: "\eb24";
}
.icon-phone-12:before {
  content: "\eb25";
}
.icon-phone2:before {
  content: "\eb26";
}
.icon-photography2:before {
  content: "\eb27";
}
.icon-plane2:before {
  content: "\eb28";
}
.icon-pointer2:before {
  content: "\eb29";
}
.icon-postage2:before {
  content: "\eb2a";
}
.icon-purse2:before {
  content: "\eb2b";
}
.icon-railway2:before {
  content: "\eb2c";
}
.icon-search22:before {
  content: "\eb2d";
}
.icon-ship2:before {
  content: "\eb2e";
}
.icon-shirt2:before {
  content: "\eb2f";
}
.icon-stamp2:before {
  content: "\eb30";
}
.icon-star22:before {
  content: "\eb31";
}
.icon-suitcase-open2:before {
  content: "\eb32";
}
.icon-suitcase3:before {
  content: "\eb33";
}
.icon-suitcases2:before {
  content: "\eb34";
}
.icon-sunglasses2:before {
  content: "\eb35";
}
.icon-sunset2:before {
  content: "\eb36";
}
.icon-surfing2:before {
  content: "\eb37";
}
.icon-tent2:before {
  content: "\eb38";
}
.icon-tickets2:before {
  content: "\eb39";
}
.icon-time22:before {
  content: "\eb3a";
}
.icon-trailer2:before {
  content: "\eb3b";
}
.icon-travel2:before {
  content: "\eb3c";
}
.icon-bed3:before {
  content: "\eb3d";
}
.icon-beer2:before {
  content: "\eb3e";
}
.icon-big-bottle-of-water2:before {
  content: "\eb3f";
}
.icon-diamond32:before {
  content: "\eb40";
}
.icon-handshake2:before {
  content: "\eb41";
}
.icon-hospital2:before {
  content: "\eb42";
}
.icon-truck2:before {
  content: "\eb43";
}
.icon-van2:before {
  content: "\eb44";
}
.icon-diamond22:before {
  content: "\eb45";
}
.icon-bottle-water2:before {
  content: "\eb46";
}
.icon-towel2:before {
  content: "\eb47";
}
.icon-check2:before {
  content: "\eb48";
}
.icon-checked22:before {
  content: "\eb49";
}
.icon-up-arrow2:before {
  content: "\eb4a";
}
.icon-down2:before {
  content: "\eb4b";
}
.icon-customer-service2:before {
  content: "\eb4c";
}
.icon-movie-camera2:before {
  content: "\eb4d";
}
.icon-photo-full2:before {
  content: "\eb4e";
}
.icon-photo2:before {
  content: "\eb4f";
}
.icon-video12:before {
  content: "\eb50";
}
.icon-video22:before {
  content: "\eb51";
}
.icon-cancel-button2 .path1:before {
  content: "\eb52";
  color: rgb(226, 90, 90);
}
.icon-cancel-button2 .path2:before {
  content: "\ece5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check-mark-button2 .path1:before {
  content: "\eb53";
  color: rgb(102, 170, 115);
}
.icon-check-mark-button2 .path2:before {
  content: "\ece6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-photo-camera2:before {
  content: "\eb54";
}
.icon-video-camera3:before {
  content: "\eb55";
}
.icon-backpack4:before {
  content: "\eb56";
}
.icon-big-wave2:before {
  content: "\eb57";
}
.icon-binoculars4 .path1:before {
  content: "\eb58";
  color: rgb(51, 51, 51);
}
.icon-binoculars4 .path2:before {
  content: "\ece7";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-binoculars4 .path3:before {
  content: "\ece8";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-binoculars4 .path4:before {
  content: "\ece9";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.icon-dolphin-jumping2:before {
  content: "\eb59";
}
.icon-fishing-rod2:before {
  content: "\eb5a";
}
.icon-next3:before {
  content: "\eb5b";
}
.icon-back3:before {
  content: "\eb5c";
}
.icon-oxygen-tank2:before {
  content: "\eb5d";
}
.icon-snorkel2:before {
  content: "\eb5e";
}
.icon-video-player3:before {
  content: "\eb5f";
}
.icon-shopping-cart2:before {
  content: "\eb60";
}
.icon-social2:before {
  content: "\eb61";
}
.icon-add-12:before {
  content: "\eb62";
}
.icon-add-22:before {
  content: "\eb63";
}
.icon-add-32:before {
  content: "\eb64";
}
.icon-add2:before {
  content: "\eb65";
}
.icon-agenda2:before {
  content: "\eb66";
}
.icon-alarm-12:before {
  content: "\eb67";
}
.icon-alarm-clock-12:before {
  content: "\eb68";
}
.icon-alarm-clock3:before {
  content: "\eb69";
}
.icon-alarm2:before {
  content: "\eb6a";
}
.icon-albums2:before {
  content: "\eb6b";
}
.icon-app2:before {
  content: "\eb6c";
}
.icon-archive-12:before {
  content: "\eb6d";
}
.icon-archive-22:before {
  content: "\eb6e";
}
.icon-archive-32:before {
  content: "\eb6f";
}
.icon-archive2:before {
  content: "\eb70";
}
.icon-attachment2:before {
  content: "\eb71";
}
.icon-back22:before {
  content: "\eb72";
}
.icon-battery-12:before {
  content: "\eb73";
}
.icon-battery-22:before {
  content: "\eb74";
}
.icon-battery-32:before {
  content: "\eb75";
}
.icon-battery-42:before {
  content: "\eb76";
}
.icon-battery-52:before {
  content: "\eb77";
}
.icon-battery-62:before {
  content: "\eb78";
}
.icon-battery-72:before {
  content: "\eb79";
}
.icon-battery-82:before {
  content: "\eb7a";
}
.icon-battery-92:before {
  content: "\eb7b";
}
.icon-battery2:before {
  content: "\eb7c";
}
.icon-binoculars22:before {
  content: "\eb7d";
}
.icon-blueprint2:before {
  content: "\eb7e";
}
.icon-bluetooth-12:before {
  content: "\eb7f";
}
.icon-bluetooth2:before {
  content: "\eb80";
}
.icon-bookmark-12:before {
  content: "\eb81";
}
.icon-bookmark2:before {
  content: "\eb82";
}
.icon-briefcase2:before {
  content: "\eb83";
}
.icon-broken-link2:before {
  content: "\eb84";
}
.icon-calculator-12:before {
  content: "\eb85";
}
.icon-calculator2:before {
  content: "\eb86";
}
.icon-calendar-check2:before {
  content: "\eb87";
}
.icon-calendar-line2:before {
  content: "\eb88";
}
.icon-calendar192:before {
  content: "\eb89";
}
.icon-calendar182:before {
  content: "\eb8a";
}
.icon-calendar52:before {
  content: "\eb8b";
}
.icon-calendar-62:before {
  content: "\eb8c";
}
.icon-calendardots2:before {
  content: "\eb8d";
}
.icon-calendar3:before {
  content: "\eb8e";
}
.icon-checked-12:before {
  content: "\eb8f";
}
.icon-checked3:before {
  content: "\eb90";
}
.icon-clock-12:before {
  content: "\eb91";
}
.icon-clock2:before {
  content: "\eb92";
}
.icon-close2:before {
  content: "\eb93";
}
.icon-cloud-computing-12:before {
  content: "\eb94";
}
.icon-cloud-computing-22:before {
  content: "\eb95";
}
.icon-cloud-computing-32:before {
  content: "\eb96";
}
.icon-cloud-computing-42:before {
  content: "\eb97";
}
.icon-cloud-computing-52:before {
  content: "\eb98";
}
.icon-cloud-computing2:before {
  content: "\eb99";
}
.icon-cloud2:before {
  content: "\eb9a";
}
.icon-command2:before {
  content: "\eb9b";
}
.icon-compact-disc-12:before {
  content: "\eb9c";
}
.icon-compact-disc-22:before {
  content: "\eb9d";
}
.icon-compact-disc2:before {
  content: "\eb9e";
}
.icon-compass3:before {
  content: "\eb9f";
}
.icon-compose2:before {
  content: "\eba0";
}
.icon-controls-12:before {
  content: "\eba1";
}
.icon-controls-22:before {
  content: "\eba2";
}
.icon-controls-32:before {
  content: "\eba3";
}
.icon-controls-42:before {
  content: "\eba4";
}
.icon-controls-52:before {
  content: "\eba5";
}
.icon-controls-62:before {
  content: "\eba6";
}
.icon-controls-72:before {
  content: "\eba7";
}
.icon-controls-82:before {
  content: "\eba8";
}
.icon-controls-92:before {
  content: "\eba9";
}
.icon-controls2:before {
  content: "\ebaa";
}
.icon-database-12:before {
  content: "\ebab";
}
.icon-database-22:before {
  content: "\ebac";
}
.icon-database-32:before {
  content: "\ebad";
}
.icon-database2:before {
  content: "\ebae";
}
.icon-diamond4:before {
  content: "\ebaf";
}
.icon-diploma3:before {
  content: "\ebb0";
}
.icon-dislike-12:before {
  content: "\ebb1";
}
.icon-dislike2:before {
  content: "\ebb2";
}
.icon-divide-12:before {
  content: "\ebb3";
}
.icon-divide2:before {
  content: "\ebb4";
}
.icon-division2:before {
  content: "\ebb5";
}
.icon-document2:before {
  content: "\ebb6";
}
.icon-download2:before {
  content: "\ebb7";
}
.icon-edit-12:before {
  content: "\ebb8";
}
.icon-edit2:before {
  content: "\ebb9";
}
.icon-eject-12:before {
  content: "\ebba";
}
.icon-eject2:before {
  content: "\ebbb";
}
.icon-equal-12:before {
  content: "\ebbc";
}
.icon-equal-22:before {
  content: "\ebbd";
}
.icon-equal2:before {
  content: "\ebbe";
}
.icon-error22:before {
  content: "\ebbf";
}
.icon-exit-12:before {
  content: "\ebc0";
}
.icon-exit-22:before {
  content: "\ebc1";
}
.icon-exit2:before {
  content: "\ebc2";
}
.icon-eyeglasses2:before {
  content: "\ebc3";
}
.icon-fast-forward-12:before {
  content: "\ebc4";
}
.icon-fast-forward2:before {
  content: "\ebc5";
}
.icon-fax2:before {
  content: "\ebc6";
}
.icon-file-12:before {
  content: "\ebc7";
}
.icon-file-22:before {
  content: "\ebc8";
}
.icon-file2:before {
  content: "\ebc9";
}
.icon-film2:before {
  content: "\ebca";
}
.icon-fingerprint2:before {
  content: "\ebcb";
}
.icon-flag-12:before {
  content: "\ebcc";
}
.icon-flag-22:before {
  content: "\ebcd";
}
.icon-flag-32:before {
  content: "\ebce";
}
.icon-flag-42:before {
  content: "\ebcf";
}
.icon-flag2:before {
  content: "\ebd0";
}
.icon-focus2:before {
  content: "\ebd1";
}
.icon-folder-110:before {
  content: "\ebd2";
}
.icon-folder-22:before {
  content: "\ebd3";
}
.icon-folder-32:before {
  content: "\ebd4";
}
.icon-folder-42:before {
  content: "\ebd5";
}
.icon-folder-52:before {
  content: "\ebd6";
}
.icon-folder-62:before {
  content: "\ebd7";
}
.icon-folder-72:before {
  content: "\ebd8";
}
.icon-folder-82:before {
  content: "\ebd9";
}
.icon-folder-92:before {
  content: "\ebda";
}
.icon-folder-102:before {
  content: "\ebdb";
}
.icon-folder-112:before {
  content: "\ebdc";
}
.icon-folder-122:before {
  content: "\ebdd";
}
.icon-folder-132:before {
  content: "\ebde";
}
.icon-folder-142:before {
  content: "\ebdf";
}
.icon-folder-152:before {
  content: "\ebe0";
}
.icon-folder-162:before {
  content: "\ebe1";
}
.icon-folder-172:before {
  content: "\ebe2";
}
.icon-folder-182:before {
  content: "\ebe3";
}
.icon-folder-192:before {
  content: "\ebe4";
}
.icon-folder2:before {
  content: "\ebe5";
}
.icon-forbidden2:before {
  content: "\ebe6";
}
.icon-funnel2:before {
  content: "\ebe7";
}
.icon-garbage-12:before {
  content: "\ebe8";
}
.icon-garbage-22:before {
  content: "\ebe9";
}
.icon-garbage2:before {
  content: "\ebea";
}
.icon-gift2:before {
  content: "\ebeb";
}
.icon-help2:before {
  content: "\ebec";
}
.icon-hide2:before {
  content: "\ebed";
}
.icon-hold2:before {
  content: "\ebee";
}
.icon-home-12:before {
  content: "\ebef";
}
.icon-home-22:before {
  content: "\ebf0";
}
.icon-home2:before {
  content: "\ebf1";
}
.icon-hourglass-12:before {
  content: "\ebf2";
}
.icon-hourglass-22:before {
  content: "\ebf3";
}
.icon-hourglass-32:before {
  content: "\ebf4";
}
.icon-hourglass2:before {
  content: "\ebf5";
}
.icon-house2:before {
  content: "\ebf6";
}
.icon-id-card-12:before {
  content: "\ebf7";
}
.icon-id-card-22:before {
  content: "\ebf8";
}
.icon-id-card-32:before {
  content: "\ebf9";
}
.icon-id-card-42:before {
  content: "\ebfa";
}
.icon-id-card-52:before {
  content: "\ebfb";
}
.icon-id-card2:before {
  content: "\ebfc";
}
.icon-idea2:before {
  content: "\ebfd";
}
.icon-incoming2:before {
  content: "\ebfe";
}
.icon-infinity2:before {
  content: "\ebff";
}
.icon-info2:before {
  content: "\ec00";
}
.icon-internet2:before {
  content: "\ec01";
}
.icon-key2:before {
  content: "\ec02";
}
.icon-lamp2:before {
  content: "\ec03";
}
.icon-layers-12:before {
  content: "\ec04";
}
.icon-layers2:before {
  content: "\ec05";
}
.icon-like-12:before {
  content: "\ec06";
}
.icon-like-22:before {
  content: "\ec07";
}
.icon-like2:before {
  content: "\ec08";
}
.icon-link2:before {
  content: "\ec09";
}
.icon-list-12:before {
  content: "\ec0a";
}
.icon-list3:before {
  content: "\ec0b";
}
.icon-lock-12:before {
  content: "\ec0c";
}
.icon-lock2:before {
  content: "\ec0d";
}
.icon-locked-12:before {
  content: "\ec0e";
}
.icon-locked-22:before {
  content: "\ec0f";
}
.icon-locked-32:before {
  content: "\ec10";
}
.icon-locked-42:before {
  content: "\ec11";
}
.icon-locked-52:before {
  content: "\ec12";
}
.icon-locked-62:before {
  content: "\ec13";
}
.icon-locked2:before {
  content: "\ec14";
}
.icon-login2:before {
  content: "\ec15";
}
.icon-magic-wand2:before {
  content: "\ec16";
}
.icon-magnet-12:before {
  content: "\ec17";
}
.icon-magnet-22:before {
  content: "\ec18";
}
.icon-magnet2:before {
  content: "\ec19";
}
.icon-map-12:before {
  content: "\ec1a";
}
.icon-map-22:before {
  content: "\ec1b";
}
.icon-map-location2:before {
  content: "\ec1c";
}
.icon-map3:before {
  content: "\ec1d";
}
.icon-megaphone-12:before {
  content: "\ec1e";
}
.icon-megaphone2:before {
  content: "\ec1f";
}
.icon-menu-12:before {
  content: "\ec20";
}
.icon-menu-22:before {
  content: "\ec21";
}
.icon-menu-32:before {
  content: "\ec22";
}
.icon-menu-42:before {
  content: "\ec23";
}
.icon-menu2:before {
  content: "\ec24";
}
.icon-microphone-12:before {
  content: "\ec25";
}
.icon-microphone2:before {
  content: "\ec26";
}
.icon-minus-12:before {
  content: "\ec27";
}
.icon-minus2:before {
  content: "\ec28";
}
.icon-more-12:before {
  content: "\ec29";
}
.icon-more-22:before {
  content: "\ec2a";
}
.icon-more2:before {
  content: "\ec2b";
}
.icon-multiply-12:before {
  content: "\ec2c";
}
.icon-multiply2:before {
  content: "\ec2d";
}
.icon-music-player12:before {
  content: "\ec2e";
}
.icon-music-player22:before {
  content: "\ec2f";
}
.icon-music-player32:before {
  content: "\ec30";
}
.icon-music-player4:before {
  content: "\ec31";
}
.icon-mute2:before {
  content: "\ec32";
}
.icon-muted2:before {
  content: "\ec33";
}
.icon-navigation-12:before {
  content: "\ec34";
}
.icon-navigation2:before {
  content: "\ec35";
}
.icon-network2:before {
  content: "\ec36";
}
.icon-newspaper2:before {
  content: "\ec37";
}
.icon-next22:before {
  content: "\ec38";
}
.icon-note2:before {
  content: "\ec39";
}
.icon-notebook12:before {
  content: "\ec3a";
}
.icon-notebook22:before {
  content: "\ec3b";
}
.icon-notebook32:before {
  content: "\ec3c";
}
.icon-notebook42:before {
  content: "\ec3d";
}
.icon-notebook52:before {
  content: "\ec3e";
}
.icon-notebook7:before {
  content: "\ec3f";
}
.icon-notepad12:before {
  content: "\ec40";
}
.icon-notepad22:before {
  content: "\ec41";
}
.icon-notepad3:before {
  content: "\ec42";
}
.icon-notification2:before {
  content: "\ec43";
}
.icon-old-man2:before {
  content: "\ec44";
}
.icon-paper-plane-12:before {
  content: "\ec45";
}
.icon-paper-plane2:before {
  content: "\ec46";
}
.icon-pause-12:before {
  content: "\ec47";
}
.icon-pause2:before {
  content: "\ec48";
}
.icon-percent-12:before {
  content: "\ec49";
}
.icon-percent2:before {
  content: "\ec4a";
}
.icon-perspective2:before {
  content: "\ec4b";
}
.icon-photos2:before {
  content: "\ec4c";
}
.icon-picture12:before {
  content: "\ec4d";
}
.icon-picture22:before {
  content: "\ec4e";
}
.icon-picture3:before {
  content: "\ec4f";
}
.icon-pin2:before {
  content: "\ec50";
}
.icon-placeholder12:before {
  content: "\ec51";
}
.icon-placeholder22:before {
  content: "\ec52";
}
.icon-placeholder32:before {
  content: "\ec53";
}
.icon-placeholder4:before {
  content: "\ec54";
}
.icon-placeholders2:before {
  content: "\ec55";
}
.icon-play-button12:before {
  content: "\ec56";
}
.icon-play-button2:before {
  content: "\ec57";
}
.icon-plus2:before {
  content: "\ec58";
}
.icon-power2:before {
  content: "\ec59";
}
.icon-pregnancy-with-hearts2:before {
  content: "\ec5a";
}
.icon-previous2:before {
  content: "\ec5b";
}
.icon-price-tag2:before {
  content: "\ec5c";
}
.icon-print2:before {
  content: "\ec5d";
}
.icon-push-pin2:before {
  content: "\ec5e";
}
.icon-radar2:before {
  content: "\ec5f";
}
.icon-reading2:before {
  content: "\ec60";
}
.icon-record2:before {
  content: "\ec61";
}
.icon-repeat-12:before {
  content: "\ec62";
}
.icon-repeat3:before {
  content: "\ec63";
}
.icon-restart2:before {
  content: "\ec64";
}
.icon-resume2:before {
  content: "\ec65";
}
.icon-rewind-12:before {
  content: "\ec66";
}
.icon-rewind2:before {
  content: "\ec67";
}
.icon-route2:before {
  content: "\ec68";
}
.icon-save2:before {
  content: "\ec69";
}
.icon-search-12:before {
  content: "\ec6a";
}
.icon-search3:before {
  content: "\ec6b";
}
.icon-send2:before {
  content: "\ec6c";
}
.icon-server-12:before {
  content: "\ec6d";
}
.icon-server-22:before {
  content: "\ec6e";
}
.icon-server-32:before {
  content: "\ec6f";
}
.icon-server2:before {
  content: "\ec70";
}
.icon-settings-12:before {
  content: "\ec71";
}
.icon-settings-22:before {
  content: "\ec72";
}
.icon-settings-32:before {
  content: "\ec73";
}
.icon-settings-42:before {
  content: "\ec74";
}
.icon-settings-52:before {
  content: "\ec75";
}
.icon-settings-62:before {
  content: "\ec76";
}
.icon-settings-72:before {
  content: "\ec77";
}
.icon-settings-82:before {
  content: "\ec78";
}
.icon-settings-92:before {
  content: "\ec79";
}
.icon-settings2:before {
  content: "\ec7a";
}
.icon-share-12:before {
  content: "\ec7b";
}
.icon-share-22:before {
  content: "\ec7c";
}
.icon-share2:before {
  content: "\ec7d";
}
.icon-shuffle-12:before {
  content: "\ec7e";
}
.icon-shuffle2:before {
  content: "\ec7f";
}
.icon-shutdown2:before {
  content: "\ec80";
}
.icon-sign-12:before {
  content: "\ec81";
}
.icon-sign2:before {
  content: "\ec82";
}
.icon-skip2:before {
  content: "\ec83";
}
.icon-smartphone-12:before {
  content: "\ec84";
}
.icon-smartphone-22:before {
  content: "\ec85";
}
.icon-smartphone-32:before {
  content: "\ec86";
}
.icon-smartphone-42:before {
  content: "\ec87";
}
.icon-smartphone-52:before {
  content: "\ec88";
}
.icon-smartphone-62:before {
  content: "\ec89";
}
.icon-smartphone-72:before {
  content: "\ec8a";
}
.icon-smartphone-82:before {
  content: "\ec8b";
}
.icon-smartphone-92:before {
  content: "\ec8c";
}
.icon-smartphone-102:before {
  content: "\ec8d";
}
.icon-smartphone-112:before {
  content: "\ec8e";
}
.icon-smartphone2:before {
  content: "\ec8f";
}
.icon-smiling-baby2:before {
  content: "\ec90";
}
.icon-speaker-12:before {
  content: "\ec91";
}
.icon-speaker-22:before {
  content: "\ec92";
}
.icon-speaker-32:before {
  content: "\ec93";
}
.icon-speaker-42:before {
  content: "\ec94";
}
.icon-speaker-52:before {
  content: "\ec95";
}
.icon-speaker-62:before {
  content: "\ec96";
}
.icon-speaker-72:before {
  content: "\ec97";
}
.icon-speaker-82:before {
  content: "\ec98";
}
.icon-speaker2:before {
  content: "\ec99";
}
.icon-spotlight2:before {
  content: "\ec9a";
}
.icon-star-12:before {
  content: "\ec9b";
}
.icon-star3:before {
  content: "\ec9c";
}
.icon-stop-12:before {
  content: "\ec9d";
}
.icon-stop2:before {
  content: "\ec9e";
}
.icon-stopwatch12:before {
  content: "\ec9f";
}
.icon-watch2:before {
  content: "\eca0";
}
.icon-stopwatch32:before {
  content: "\eca1";
}
.icon-watch-fast2:before {
  content: "\eca2";
}
.icon-stopwatch2:before {
  content: "\eca3";
}
.icon-street-12:before {
  content: "\eca4";
}
.icon-street2:before {
  content: "\eca5";
}
.icon-substract-12:before {
  content: "\eca6";
}
.icon-substract2:before {
  content: "\eca7";
}
.icon-success2:before {
  content: "\eca8";
}
.icon-switch-12:before {
  content: "\eca9";
}
.icon-switch-22:before {
  content: "\ecaa";
}
.icon-switch-32:before {
  content: "\ecab";
}
.icon-switch-42:before {
  content: "\ecac";
}
.icon-switch-52:before {
  content: "\ecad";
}
.icon-switch-62:before {
  content: "\ecae";
}
.icon-switch-72:before {
  content: "\ecaf";
}
.icon-switch2:before {
  content: "\ecb0";
}
.icon-tabs-12:before {
  content: "\ecb1";
}
.icon-tabs2:before {
  content: "\ecb2";
}
.icon-target2:before {
  content: "\ecb3";
}
.icon-television-12:before {
  content: "\ecb4";
}
.icon-television2:before {
  content: "\ecb5";
}
.icon-time3:before {
  content: "\ecb6";
}
.icon-trash2:before {
  content: "\ecb7";
}
.icon-umbrella2:before {
  content: "\ecb8";
}
.icon-unlink2:before {
  content: "\ecb9";
}
.icon-unlocked-12:before {
  content: "\ecba";
}
.icon-unlocked-22:before {
  content: "\ecbb";
}
.icon-unlocked2:before {
  content: "\ecbc";
}
.icon-upload2:before {
  content: "\ecbd";
}
.icon-user-12:before {
  content: "\ecbe";
}
.icon-user-22:before {
  content: "\ecbf";
}
.icon-user-32:before {
  content: "\ecc0";
}
.icon-user-42:before {
  content: "\ecc1";
}
.icon-user-52:before {
  content: "\ecc2";
}
.icon-user-62:before {
  content: "\ecc3";
}
.icon-user-72:before {
  content: "\ecc4";
}
.icon-user2:before {
  content: "\ecc5";
}
.icon-users-12:before {
  content: "\ecc6";
}
.icon-users2:before {
  content: "\ecc7";
}
.icon-video-camera-12:before {
  content: "\ecc8";
}
.icon-video-camera22:before {
  content: "\ecc9";
}
.icon-video-player-12:before {
  content: "\ecca";
}
.icon-video-player-22:before {
  content: "\eccb";
}
.icon-video-player22:before {
  content: "\eccc";
}
.icon-view-12:before {
  content: "\eccd";
}
.icon-view-22:before {
  content: "\ecce";
}
.icon-view2:before {
  content: "\eccf";
}
.icon-volume-control-12:before {
  content: "\ecd0";
}
.icon-volume-control2:before {
  content: "\ecd1";
}
.icon-warning2:before {
  content: "\ecd2";
}
.icon-wifi-12:before {
  content: "\ecd3";
}
.icon-wifi2:before {
  content: "\ecd4";
}
.icon-windows-12:before {
  content: "\ecd5";
}
.icon-windows-22:before {
  content: "\ecd6";
}
.icon-windows-32:before {
  content: "\ecd7";
}
.icon-windows-42:before {
  content: "\ecd8";
}
.icon-windows2:before {
  content: "\ecd9";
}
.icon-wireless-internet2:before {
  content: "\ecda";
}
.icon-worldwide-12:before {
  content: "\ecdb";
}
.icon-worldwide2:before {
  content: "\ecdc";
}
.icon-zoom-in2:before {
  content: "\ecdd";
}
.icon-zoom-out2:before {
  content: "\ecde";
}
.icon-diplom:before {
  content: "\ecdf";
}
.icon-diploma-(1)2:before {
  content: "\ecea";
}
.icon-quality2:before {
  content: "\ece0";
}
.icon-diplo:before {
  content: "\ece1";
}

